<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="app">
        <div id="equals">{{ sum }}</div>

<button class="num" v-for="number of numbers" @click="addToSum2(number)">
{{number}}
</button>
        <button class="sym" v-for="operator of opps" @click="addToSum(operator)">
            {{ operator }}
        </button>
        <button @click="evalSum">=</button>
        <button @click="clearSum()">C</button>
    </div>

  
    <script src="/script.js"></script>
</body>
</html>