<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vue Calculator</h1>
    <div id="calculator">
        <div id="app">
            <div id="equals">{{ sum }}</div>
    <div id="nums">
        <button class="num" v-for="number of numbers" @click="addToSum2(number)">
            {{number}}
            </button>
    </div>
   <div id="syms">
    <button class="sym" v-for="operator of opps" @click="addToSum(operator)">
        {{ operator }}
    </button>
   </div>
            <div>
                <button id="eq" @click="evalSum">=</button>
            </div>
            <div>
                <button id="c" @click="clearSum()">C</button>   
            </div>
          
       
        </div>
    </div>
 

  
    <script src="/script.js"></script>
</body>
</html>